/* footer-style */



*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
footer{
    position:absolute;
    
    background-color: white;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: black;

}
.footer-content{
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction:column;
    text-align:center;

}
.footer-content img{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size:14px;

}
.socials{
    list-style: none;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;


}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: grey;
}
.socials a i{
    font-size:1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color:blue;
}
.footer-bottom{
     background-color: white;
     width: 100w;
     padding: 20px 0;
     text-align:center;
 }
.footer-bottom p{
     font-size: 14px;
     word-spacing: 2px;
     text-transform: capitalize;
 }

